{% extends 'base.html' %} 
{% import 'macros.html' as macros %} 
{% from 'bootstrap/form.html' import render_form %}

{% block title %} 
    {{ super() }} Bienvenido 
{%endblock %} 

{% block content %} 

    {% if username %}
        <div class="container">
            <div class="media">
                <img src="{{url_for('static', filename='images/logo.png' )}}" class="align-self-center mr-3" alt="Logo">
                <div class="media-body">
                <h5 class="mt-0 font-weight-bold">Bienvenido {{ username | capitalize }}</h5>
                <p>Organiza tus tareas diarias con Spartan Task List.</p>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <h2>Crea una nueva tarea</h2>
        {{ render_form(todo_form, button_map={'submit': 'info'}) }}
    </div>

    <hr/>
    <h3 class="text-center">Tareas pendientes</h3>
    <div class="container">
        <ul class="list-group">
            {% for todo in todos %} 
                {{ macros.render_todo(todo, delete_form, update_form) }} 
            {% endfor %}
        </ul>
    </div>
{% endblock %}
